/* Reset */

	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font: inherit;
		vertical-align: baseline;
	}

	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
	}

	body {
		line-height: 1;
	}

	ol, ul {
		list-style: none;
	}

	blockquote, q {
		quotes: none;
	}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	body {
		-webkit-text-size-adjust: none;
	}

/* Box Model */

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/*--------------------main-------------------*/
html{font-size:62.5%;}
body{
	margin-left: auto;
	margin-right: auto;
	font-family: 'Lato', sans-serif;
	background: url(assets/handmadepaper/handmadepaper.png);
	position: absolute;
	font-size:1.8rem;
}
/*media queries*/
@media all and (max-width: 319px){
	html{font-size: 45%;}
}
@media all and (min-width: 320px) and (max-width: 499px) {
	html{font-size: 50%;}
}
@media all and (min-width: 500px) and (max-width: 719px) {
	html{font-size: 55%;}
}
@media all and (min-width: 720px) and (max-width: 1025px) {
	html{font-size: 60%;}
}
/*-------------------top menu-----------------*/
header{
	width:100%;
	background-color: #303030;
	color: #999;
	position: fixed;
	z-index: 100;
	opacity: 0.9;
	margin:0 auto;
}
ul{
	font-size: 2rem;
	width:70%;
	margin-left: auto;
	margin-right: auto;
    list-style-type:none;
    position: relative;
   }
ul:after{
	clear: both;
	display: block;
	content: '';
}
ul>li{
	float:left;
	text-align: center;
}
ul>li:first-child{
	width:17%;
}
ul>li:first-child + li{
	width:25%;
}
ul>li:first-child + li +li{
	width:23%;
}
ul>li:first-child + li +li+li{
	width:30%;
}
ul>li>a{
	display: block;
	text-decoration: none;
	color: white;
	padding: 2rem;
}

/*media queries*/
@media all and (max-width: 319px){
	ul>li>a{font-size: 1.6rem;}
}
@media all and (min-width: 320px) and (max-width: 499px) {
	ul>li>a{font-size: 1.6rem;}
}

/*--------------------first section - home --------------------*/

#home{
	background-color: #FFF;
	width: 100%;
	padding: 10rem 0;
	margin: 0 auto; 
}
#content{
	width:60%;
	margin: 5rem auto;
}
#photo-tymek{  /*zdjęcie profilowe*/
	width: 100%;
	border-radius: 5%;
	display:block;
	position: relative;
}
.base1{ /*zdjęcie profilowe*/
	display: inline-block;
	width:18rem;
	height: 100%;
	float: left;
	vertical-align: middle;
	margin-right: 3rem; 	
}
.base2{ /*krótka info o mnie*/
	display: inline-block;
	width: 60%;
	float: right;
	position: relative;
}
#name{
	padding: 0.588235rem;
	}
#info{
	font-size: 2rem;
	line-height: 4rem;
	padding: 0.6rem 1rem;
	color: #505050;
	text-align: justify;
	}
.button{
	display: inline-block;
	float: right;
	margin: 3rem 0 3rem auto;
	color: white;
	border: 0.05rem solid green;
	background-color: #228B22;
	padding: 1em 2em;
	border-radius: 0.3em;
	font-size: 1.7rem;
	text-align: center;
	}
.floatfix:after{
	clear: both;
	content: '';
	display: block;
}
h3{
	font-size: 2rem;
	color: #505050;
	padding: 0.6rem 1rem;
}
h1{
	font-size: 6rem;
	color: #393939;
	padding: 0.6rem 1rem;
}
/*media queries*/
@media all and (max-width: 319px){
	#home{padding-bottom: 3rem;}
	#content{
		display: block;
		width: 100%; 
		padding: 1rem; 
		margin:0 auto;
	}
	.base2{
		float: none;
		display:block;   
		margin:0 auto; 
		width: 99%;
		text-align: center; 
		margin-bottom: 2rem;
	}	 
	.base1{
		width: 60%;
		display:block; 
		float: none; 
		margin: 0 auto;
		margin-bottom: 2rem;
	}	
}
@media all and (min-width: 320px) and (max-width: 719px) {
	#home{padding-bottom: 3rem;}
	#content{
		display: block;
		width: 100%; 
		padding: 1rem; 
		margin:0 auto;
	}
	.base2{
		float: none;
		display:block;   
		margin:0 auto; 
		width: 99%;
		text-align: center; 
		margin-bottom: 2rem;
	}	 
	.base1{
		width: 60%;
		display:block; 
		float: none; 
		margin: 0 auto;
		margin-bottom: 2rem;
	}	
}
@media all and (min-width: 500px) and (max-width: 719px) {
	.base1{width: 30%;}
}
@media all and (min-width: 720px) and (max-width: 1025px) {
	.base1{width: 30%;}

}

/*------------------------second section - skills ---------------------*/
#skills{
	width: 100%;
	padding: 1rem auto;
	margin:3rem auto;
}
.row{
	width:60%;
	margin: 3rem auto;
}
.icon{
	width: 20%;
	display: table-cell;
	vertical-align: middle;
}
.icon-img{
	width: 100%;
}
.info{
	vertical-align: middle;
	display: table-cell;
	color: #303030;
	font-size: 1.8rem;
	text-align: justify;
	box-shadow: 1px 1px 5px 0px lightblue;
}

/*media queries*/
@media all and (max-width: 719px){

#skills{
	width: 100%;
	padding-bottom: 2rem;
	margin-bottom:5rem;
}
.icon{
	width:50%;
	margin-bottom: 5rem;
	display: block;
	margin:0 auto;
}
.row{
	font-size: 1.4rem;
	width: 100%;
	padding: 0;
	margin:0;
}
.info{
	display: block;
	width: 100%; 
	padding: 2rem;
	margin:0 auto;
	box-shadow: none;
	line-height: 2.5rem;
}
}
@media all and (min-width: 500px) and (max-width: 719px) {
	.icon{width: 30%;}
}

/*-----------------------third section - work ----------------------*/
#portfolio-all{
	width: 100%;
	margin: 0 auto;
	background-color: #dee6f3; 
}

a{	text-decoration: none; color:#817867;}

#portfolio{
	width: 100%;
	margin: 0 auto 0 auto;
	background-color: #dee6f3; 
	padding-bottom: 5rem;
	padding-top: 0;
}
.container{
	width: 90%;
	margin: 0 auto; 
	text-align: center;
}
.webpage{
	width: 33.33%;
	padding: 3% 2%;
	float: left;	
}
.pic{
	margin: 2rem auto 0 auto;
	width:100%;
	overflow: hidden;
	border-radius: 4px 4px 0 0;
}
.foto{width: 100%;}
.text{
	padding: 1.3rem;
	font-size: 1.8rem;
	line-height: 2rem;
	text-align: center; 
	vertical-align: text-bottom;
	color: #aaa;
	width:100%;
	background-color: #303030;
	border-radius: 0 0 4px 4px ;
}
.floatfix:after{
	content: '';
	display: block;
	clear: both;
}

/*media queries*/
@media all and (max-width: 719px){
	
	.webpage{
		display: block;
		float: none;
		margin: 2rem auto;
		width: 70%;
	}
	.text{
		height: 4rem;
		font-size: 1.8rem;
		padding: 0.3rem;
	}
}

@media all and (min-width: 720px) {
	
	.text{
		height: 5rem;
		font-size: 1.6rem;
		padding: 0.3rem;
	}
}
/*---------------------contact form------------------------*/

#contact{
	font-size: 1.3rem;
	background-color: #404040;
	width: 100%;
	padding: 3rem 0;
	clear: both;
	margin: 0 auto;
	margin-bottom: 0;
}
.smallheader{
	font-size: 3rem; 
	color:#898989; 
	margin: 3rem auto; 
	text-align:center;
	width: 60%;
	padding: 1rem;
}
#formularz{
	background-color: #e3e3e3;
	border: 0.1rem solid black;
	width: 40%;
	margin: 2rem auto;
	border-radius: 10px;
	text-transform: uppercase;
	padding: 3rem;
}
#formularz textarea,
#formularz input{
	padding: 0.7rem;
	border-radius: 3px;
	border: 1px solid #ccc;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}
#formularz label{
	display: block;
	font-weight: bold;
	text-transform: uppercase;
	color: #555555;
	margin-left: auto;
	margin-right: auto;
	padding: 1rem;
}
#formularz input{
	width: 90%;
	cursor: pointer;
}
#formularz #submit{
	width: 7rem;
	cursor: pointer;
	background-color: #777;
	border: 1px solid #ddd;
}
footer{
	font-size: 1em;
	height: 10rem;
	width: 100%;
	color: #404040;
	background-color: #101010;
	padding: 1rem;
	margin-bottom: 0;
}

/*meddia queries*/
@media all and (max-width: 319px){
	#formularz{width: 70%;}
	#contact{padding-top: 3rem;font-size: 0.7em;}
	footer{font-size: 1.8rem; height: 10rem; padding: 1rem;}
}
@media all and (min-width: 320px) and (max-width: 719px) {
	#formularz{width: 75%; font-size: 0.9em;}
	#contact{padding-top: 3rem; margin-bottom: 0;}
	footer{font-size: 1em; height: 10rem; padding: 1rem;}
}



