
.icon-linkedin:before { content: '\e800'; } /* '' */
.icon-html5:before { content: '\e801'; } /* '' */
.icon-twitter:before { content: '\e802'; } /* '' */
.icon-gplus-squared:before { content: '\e803'; } /* '' */
.icon-css3:before { content: '\e804'; } /* '' */
.icon-facebook:before { content: '\e805'; } /* '' */