
.icon-facebook-official:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-twitter:before { content: '\e802'; } /* '' */
.icon-gplus:before { content: '\e803'; } /* '' */
.icon-user:before { content: '\e805'; } /* '' */
.icon-mail-alt:before { content: '\e807'; } /* '' */